FormationJSF/WebContent/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://managedBeans.jsf.formation.m2i.com" xmlns:intf="http://managedBeans.jsf.formation.m2i.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://managedBeans.jsf.formation.m2i.com">
	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://managedBeans.jsf.formation.m2i.com">
			<element name="getBook">
				<complexType>
					<sequence>
						<element name="id" type="xsd:int"/>
						<element name="title" type="xsd:string"/>
						<element name="price" type="xsd:double"/>
						<element name="category" type="xsd:int"/>					
					</sequence>
				</complexType>
			</element>
			<element name="getBookResponse">
				<complexType>
					<sequence>
						<element name="getBookReturn" type="impl:BookBean"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="BookBean">
				<sequence>
					<element name="id" type="xsd:int"/>
					<element name="price" type="xsd:double"/>
					<element name="priceVAT" type="xsd:double"/>
					<element name="title" nillable="true" type="xsd:string"/>
					<element name="category" type="xsd:int"/>
				</sequence>
			</complexType>
			<element name="getHello">
				<complexType/>
			</element>
			<element name="getHelloResponse">
				<complexType>
					<sequence>
						<element name="getHelloReturn" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>

	<wsdl:message name="getBookRequest">

		<wsdl:part element="impl:getBook" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="getHelloRequest">

		<wsdl:part element="impl:getHello" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="getHelloResponse">

		<wsdl:part element="impl:getHelloResponse" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="getBookResponse">

		<wsdl:part element="impl:getBookResponse" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:portType name="HelloService">

		<wsdl:operation name="getBook">

			<wsdl:input message="impl:getBookRequest" name="getBookRequest">

			</wsdl:input>

			<wsdl:output message="impl:getBookResponse" name="getBookResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="getHello">

			<wsdl:input message="impl:getHelloRequest" name="getHelloRequest">

			</wsdl:input>

			<wsdl:output message="impl:getHelloResponse" name="getHelloResponse">

			</wsdl:output>

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="HelloServiceSoapBinding" type="impl:HelloService">

		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="getBook">

			<wsdlsoap:operation soapAction=""/>

			<wsdl:input name="getBookRequest">

				<wsdlsoap:body use="literal"/>

			</wsdl:input>

			<wsdl:output name="getBookResponse">

				<wsdlsoap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="getHello">

			<wsdlsoap:operation soapAction=""/>

			<wsdl:input name="getHelloRequest">

				<wsdlsoap:body use="literal"/>

			</wsdl:input>

			<wsdl:output name="getHelloResponse">

				<wsdlsoap:body use="literal"/>

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="HelloServiceService">

		<wsdl:port binding="impl:HelloServiceSoapBinding" name="HelloService">

			<wsdlsoap:address location="http://localhost:14714/FormationJSF/services/HelloService"/>

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
